<h1>Reset Password</h1>
<div class="blueback formtable">
<% form_for :user, @user, :url => {:controller => :users, :action => :create_forgot_password} do |f| %>
	Enter Username:<br /><%= f.text_field(:username)%> <br/ >
	or Email:<br /><%= f.text_field(:email)%> <br/ >
<%= submit_tag "Reset" %>
<% end %>

</div>