<h1>Please change your password</h1>
<div class="blueback">	
<table class="formtable">
	<% form_for :user, @user do |f| %>
		<tr><td><% if flash[:error] %><p class="flash notice"><%= flash[:error] %></p><br /><% end %>
		<tr>
			<td>
				New Password<br />
			    <input id="user_password" name="user[password]" size="30" type="password" value="" />
			</td>
			<td>
				Confirm New Password<br />
			    <input id="user_password_confirm" name="user[password_confirm]" size="30" type="password" value="" />
			</td>
			<!-- more blatant hacks. should not code tired. -->
			<td width="1000px">
			</td>
		</tr>
		<tr><td><%= f.submit "Save Password" %><br /></td></tr>
	<% end %>
</table>
</div>
