<h1>Share <span class="teal">Yourself!</span></h1>

<div class="blueback" style="text-align:center;">
	<h2>Coming Soon!</h2> Keep checking back as we add functionality, and don't forget to send feedback.
	<div >
	<%= image_tag ("translogo2.png", :alt=>"logo" )%>
	</div>
</div>