<% @title_text="About Us"%>
<h1>About <span class="teal">Us!</span></h1>

<h2>Welcome to <span class="teal">YawnLog</span></h2>
<div class="blueback">
    <p>Are you getting enough sleep? Are you sleeping well? Did you dream?</p>
    <p>Do you want to share?</p>
</div>

<h2>Contact <span class="teal">Us</span></h2>
<div class="blueback">
    <ul>
        <li>Twitter: <a href="http://www.twitter.com/yawnlog">@yawnlog</a></li>
        <li>Email: <a href="mailto:team@yawnlog.com">team@yawnlog.com</a></li>
    </ul>
</div>
<h2>Can I Get Involved In <span class="teal">YawnLog Development?</span></h2>
<div class="blueback">
Yes, you can! YawnLog is a fast-growing operation now checking in with thousands of users and we happy to snag all the help we can get to keep up. We're always looking for technical talent to get involved in pumping up YawnLog with new features and helping us out on killing off some bugs -- and we'd love to get some people involved with our other HelloSilo LLC projects. Just drop a line to team@yawnlog.com and we'll get you referred to the right people.
</div>
<h2>YawnLog <span class="teal">Cares!</span></h2>
<div class="blueback">
    <p>We think that naptime, dreamland, and sleepytown are all very important times and/or places, and we want to make it easier for you to care about them as much as we do. It was born after a sleepless night and two deliveries of Irony, and it only wants to help.</p>

    <p>YawnLog is a sleep tracker. All you have to do is tell us when you went to sleep, and when you woke up. You can tell us how well you slept, and some notes about your slumber. Was your sleep this weekend serene? Was it restless? Did you dream about flying? YawnLog lets you answer these questions, and we let you share your answers with your friends--and see how well they're counting their own sheep. Are you worried you're not getting enough sleep? Are you sleeping too much? Are your friends? Do you dream about the same things as your friends?</p>

    <p>How about with other people in your area? Everyone in the world?</p>

    <p>YawnLog keeps track of all these things for you, and lets you do what you want with that information. We allow you to fully customize your privacy. Don't want anyone to know about your dreams? Don't want to aggregate? We won't make you. We care about your privacy just like you care about your sleep.</p>

    <p>YawnLog is about you and your naptime, and we're happy to tuck you in.</p>
</div>

<h1>Intro to <span class="teal">YawnLog</span></h1>
<h2>What is <span class="teal">YawnLog?</span></h2>
<div class="blueback">
In simple terms, YawnLog tracks the number of hours you sleep per night. It places the information you input on a handy graph so you can track your sleeping patterns over an extended period of time. YawnLog also allows you to label your dreams with "tags," view your friends sleeping nearby (future implementation), and visualize recorded data in new ways!
</div>
<h2>Why would I ever need<span class="teal"> a sleep tracker?</span></h2>
<div class="blueback">Maybe a better question is why wouldn't you need a sleep tracker</div>
<h2>Who created YawnLog? <span class="teal">How was YawnLog conceived?</span></h2>
<div class="blueback">
YawnLog is a production of the creative and technical minds of HelloSilo LLC. (X number here) coders and designers joined together in a twenty-four hour hackathon extravaganza to create the next second-best thing on the Web. YawnLog was one of many ideas that jumped out of the primordial ooze of HelloSilo's first hackathon, Opportunity For Fame, held from 10 am on Saturday 21 February to 10:00 am Sunday 22 February 2009.
</div>

<h1>How to Use <span class="teal">YawnLog</span></h1>
<h2>How do I <span class="teal">make an account?</span></h2>
<div class="blueback">
Visit http://beta.yawnlog.com, click on "Sign Up," and input a username and password; your name and email; and the target number of hours you'd like to sleep per night. You can also add your zip code or Twitter handle to help you find bedfellows in your area! We prioritize your privacy, so we give you the option to make your information public or private too.
</div>
<h2>How do I <span class="teal">track my sleep?</span></h2>
<div class="blueback">
When you log in, you'll automatically land on the "Sleep" page. On the graph, you will see a constant red line, indicating the target amount of sleep per night that you chose. The blue line represents the hours of sleep you input. To update your graph, click on "Add More Sleep." Input the dates, times, zip code, quality, and if you wish a note, then click "Create." Click "Back" and you will see that the hours have been added to your graph!
</div>
<h2>What new features will be <span class="teal">implemented in the future?</span></h2>
<div class="blueback">
We're looking into data visualizations, GPS location, mobile phone apps, and more!	
</div>

