
<h1>About <span class="teal">Us!</span></h1>

<h2>Mission <span class="teal">Statement</span></h2>
<div class="blueback">
<p>Are you getting enough sleep? Are you sleeping well? Did you dream?<br />Do you want to share?</p>
</div>

<h2>Yawnlog <span class="teal">Cares!</span></h2>
<div class="blueback">
<p>We think that naptime, dreamland, and sleepytown are all very important times and/or places, and we want to make it easier for you to care about them as much as we do. It was born after a sleepless night and two deliveries of Irony, and it only wants to help.</p>

<p>YawnLog is a sleep tracker. All you have to do is tell us when you went to sleep, and when you woke up. You can tell us how well you slept, and some notes about your slumber. Was your sleep this weekend serene? Was it restless? Did you dream about flying? YawnLog lets you answer these questions, and we let you share your answers with your friends--and see how well they're counting their own sheep. Are you worried you're not getting enough sleep? Are you sleeping too much? Are your friends? Do you dream about the same things as your friends?</p>

<p>How about with other people in your area? Everyone in the world?</p>

<p>YawnLog keeps track of all these things for you, and lets you do what you want with that information. We allow you to fully customize your privacy. Don't want anyone to know about your dreams? Don't want to aggregate? We won't make you. We care about your privacy just like you care about your sleep.</p>

<p>YawnLog is about you and your naptime, and we're happy to tuck you in.</p>
</div>
<h2>Contact <span class="teal">us</span></h2>
<div class="blueback">
twitter: <a href="http://www.twitter.com/yawnlog">@yawnlog</a>
<br />Email: <a href="mailto:team@yawnlog.com">team@yawnlog.com</a>
</div>
	
