<h1>Submit <span class="teal">Feedback</span></h1>
<div class="blueback">
<h3>We appreciate your comments, questions, feature requests and bug reports. Enter feedback in this form and we'll do our best to make it happen.</h3>
<% form_for :feedback do |f| %>
	<div style="margin:auto;width:50%"><%= f.text_area :body, :style => "height:200px;width:100%;" %><br />
	<%= f.submit "Done"%></div>
<% end %>
</div>