<h1>Privacy <span class="teal">Policy</h1>
<div class="blueback">
	<p>We won't share your data with anyone. Unless you select to have a public profile no one other than your approved friends and yawnlog administrators will be able to see any of your data. If you select to have a public profile anyone can see your data.</p>
	</div>